In [2]:
import pandas as pd

data = pd.read_csv("D:/Data Mining/HW3/新竹_2021.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6571 entries, 0 to 6570
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   測站                    6571 non-null   object
 1   日期                    6571 non-null   object
 2   測項                    6571 non-null   object
 3   0                     6571 non-null   object
 4   1                     6571 non-null   object
 5   2                     6571 non-null   object
 6   3                     6571 non-null   object
 7   4                     6571 non-null   object
 8   5                     6571 non-null   object
 9   6                     6571 non-null   object
 10  7                     6571 non-null   object
 11  8                     6571 non-null   object
 12  9                     6571 non-null   object
 13  10                    6571 non-null   object
 14  11                    6571 non-null   object
 15  12                    6571 non-null   object
 16  13                    6571 non-null   object
 17  14                    6571 non-null   object
 18  15                    6571 non-null   object
 19  16                    6571 non-null   object
 20  17                    6571 non-null   object
 21  18                    6571 non-null   object
 22  19                    6571 non-null   object
 23  20                    6571 non-null   object
 24  21                    6571 non-null   object
 25  22                    6571 non-null   object
 26  23                    6571 non-null   object
dtypes: object(27)
memory usage: 1.4+ MB

In [3]:
import datetime as dt

data = data.drop(0)   #刪除虛線列
data["日期"] = data["日期"].apply(lambda x:dt.datetime.strptime(x.split(" ")[0], "%Y/%m/%d").timestamp())
data = data[data["日期"].apply(lambda x: x >= dt.datetime(2021, 10, 1).timestamp() and x < dt.datetime(2022, 1, 1).timestamp())]

data.head()

,測站,日期,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
4915,新竹,1.633018e+09,AMB_TEMP,28.3,28.3,27.8,27.8,27.6,27.6,27.7,...,31.6,31.4,30.9,30.5,30.2,29.8,29.4,29.1,28.7,28.2
4916,新竹,1.633018e+09,CH4,2.04,2.02,2.12,2.18,2.19,2.24,2.21,...,1.96,1.97,2.01,2.06,2.07,2.05,2.04,2.03,2.08,2.08
4917,新竹,1.633018e+09,CO,0.34,0.3,0.3,0.29,0.3,0.33,0.44,...,0.25,0.27,0.32,0.43,0.45,0.45,0.43,0.42,0.43,0.39
4918,新竹,1.633018e+09,NMHC,0.17,0.13,0.12,0.14,0.17,0.16,0.18,...,0.04,0.06,0.05,0.17,0.24,0.22,0.16,0.14,0.16,0.14
4919,新竹,1.633018e+09,NO,0.9,0.2,0.5,0.4,0.2,0.6,2.2,...,0.5,0.5,0.5,0.3,0.3,0.3,0.3,0.3,0.4,0.6

In [4]:
for i in range(24):
    data[str(i)] = data[str(i)].apply(lambda x: 0 if x == "NR" else x)

In [5]:
import numpy as np

data = data.T
data = data.iloc[2:]   #刪除測站列、日期列
test_item_list = list(data.iloc[0,:])[:18]
for i in range(len(test_item_list)):
    test_item_list[i] = test_item_list[i].split(" ")[0]

split_data = []
for i in np.arange(0, len(data.T), 18):
    element = data.iloc[1:, i:i + 18]
    element.columns = test_item_list
    split_data.append(element)

timeseries_data = pd.concat(split_data, ignore_index = True)
timeseries_data = timeseries_data.set_index(pd.date_range(start = "2021/10/01", end = "2022/1/1", freq = "H")[:2208])
timeseries_data

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
2021-10-01 00:00:00,28.3,2.04,0.34,0.17,0.9,18.8,19.8,16,28,28,0,71,1.8,2.21,62,33,0.8,0.7
2021-10-01 01:00:00,28.3,2.02,0.3,0.13,0.2,11.9,12.2,21.5,24,22,0,66,1,2.15,121,183,1.2,0.6
2021-10-01 02:00:00,27.8,2.12,0.3,0.12,0.5,15.1,15.6,16.9,29,26,0,76,1,2.24,164,160,1.1,0.6
2021-10-01 03:00:00,27.8,2.18,0.29,0.14,0.4,12.8,13.2,16.4,32,24,0,79,1.3,2.32,156,151,0.6,0.4
2021-10-01 04:00:00,27.6,2.19,0.3,0.17,0.2,14.9,15.1,12.6,31,28,0,81,1.5,2.36,110,90,0.9,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 19:00:00,15.8,2.01,0.29,0.09,0.7,11.6,12.3,32.1,19,13,0,71,1.3,2.1,53,55,2.2,2
2021-12-31 20:00:00,15.6,2.04,0.33,0.11,0.8,13.6,14.4,29.6,18,10,0,74,1.1,2.15,47,41,1.7,1.6
2021-12-31 21:00:00,15.7,2.03,0.32,0.1,0.7,13.6,14.4,30.3,8,11,0,78,1.4,2.13,37,36,2.5,2
2021-12-31 22:00:00,15.9,2.01,0.28,0.08,0.5,11.8,12.3,31.9,10,9,0,79,1.6,2.09,42,53,2.3,2.1
2021-12-31 23:00:00,16.1,2,0.25,0.05,0.4,9.2,9.7,33.6,7,7,0,78,1.8,2.05,48,39,1.9,1.7

In [6]:
invalid = ["#", "*", "x", "A"]
for i in range(len(timeseries_data.columns)):
    col_list = list(timeseries_data.iloc[:, i])
    for j in range(len(col_list)):
        if any(invalid_char in col_list[j] for invalid_char in invalid):
            try:
                last_element = float(col_list[j - 1])
            except:
                last_count = 1
                while(any(invalid_char in str(col_list[j - last_count]) for invalid_char in invalid)):
                    last_count += 1
                    try:
                        last_element = col_list[j - last_count]
                    except:
                        last_element = 0.0
                last_element = float(last_element)
                
            try:
                next_element = float(col_list[j + 1])
            except:
                next_count = 1
                while(any(invalid_char in str(col_list[j + next_count]) for invalid_char in invalid)):
                    next_count += 1
                    try:
                        next_element = col_list[j + next_count]
                    except:
                        next_element = 0.0
                next_element = float(next_element)
            
            col_list[j] = last_element + next_element / 2
            
    timeseries_data[timeseries_data.columns[i]] = col_list
    
timeseries_data = timeseries_data.astype("float64")

In [7]:
train = timeseries_data.loc[:"2021-11-30 23:00:00", :]
test = timeseries_data.loc["2021-12-01 00:00:00":, :]

In [8]:
def getFeatureTarget(data, feature_num, predict_hour):
    X = []
    Y = []
    for i in range(len(data) - (6 + predict_hour)):
        if feature_num == 1:
            X.append(data.iloc[i: i + 6, 9])
        else:
            X.append(data.iloc[i: i + 6, :].values.tolist())
        Y.append(data.iat[i + 5 + predict_hour, 9])
            
    return np.array(X), np.array(Y)

In [9]:
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.metrics import mean_absolute_error

train_X, train_Y = getFeatureTarget(train, 1, 1)
test_X, test_Y = getFeatureTarget(test, 1, 1)

model_LR_1_1 = LinearRegression()
model_LR_1_1.fit(train_X, train_Y)
print('The MAE loss of testing set(Linear Regression): {:.4f}'
      .format(mean_absolute_error(test_Y, model_LR_1_1.predict(test_X))))

model_XGB_1_1 = xgb.XGBRegressor()
model_XGB_1_1.fit(train_X, train_Y)
print('The MAE loss of testing set(XGBoost): {:.4f}'
      .format(mean_absolute_error(test_Y, model_XGB_1_1.predict(test_X))))

C:\Users\Debra\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

The MAE loss of testing set(Linear Regression): 2.7673
The MAE loss of testing set(XGBoost): 3.1142

In [10]:
train_X, train_Y = getFeatureTarget(train, 1, 6)
test_X, test_Y = getFeatureTarget(test, 1, 6)

model_LR_1_6 = LinearRegression()
model_LR_1_6.fit(train_X, train_Y)
print('The MAE loss of testing set(Linear Regression): {:.4f}'
      .format(mean_absolute_error(test_Y, model_LR_1_6.predict(test_X))))

model_XGB_1_6 = xgb.XGBRegressor()
model_XGB_1_6.fit(train_X, train_Y)
print('The MAE loss of testing set(XGBoost): {:.4f}'
      .format(mean_absolute_error(test_Y, model_XGB_1_6.predict(test_X))))

The MAE loss of testing set(Linear Regression): 4.3679
The MAE loss of testing set(XGBoost): 5.0023

In [11]:
train_X, train_Y = getFeatureTarget(train, 18, 1)
train_X = train_X.reshape(len(train_X), -1)
test_X, test_Y = getFeatureTarget(test, 18, 1)
test_X = test_X.reshape(len(test_X), -1)

model_LR_18_1 = LinearRegression()
model_LR_18_1.fit(train_X, train_Y)
print('The MAE loss of testing set(Linear Regression): {:.4f}'
      .format(mean_absolute_error(test_Y, model_LR_18_1.predict(test_X))))

model_XGB_18_1 = xgb.XGBRegressor()
model_XGB_18_1.fit(train_X, train_Y)
print('The MAE loss of testing set(XGBoost): {:.4f}'
      .format(mean_absolute_error(test_Y, model_XGB_18_1.predict(test_X))))

The MAE loss of testing set(Linear Regression): 2.8164
The MAE loss of testing set(XGBoost): 3.2187

In [12]:
train_X, train_Y = getFeatureTarget(train, 18, 6)
train_X = train_X.reshape(len(train_X), -1)
test_X, test_Y = getFeatureTarget(test, 18, 6)
test_X = test_X.reshape(len(test_X), -1)

model_LR_18_6 = LinearRegression()
model_LR_18_6.fit(train_X, train_Y)
print('The MAE loss of testing set(Linear Regression): {:.4f}'
      .format(mean_absolute_error(test_Y, model_LR_18_6.predict(test_X))))

model_XGB_18_6 = xgb.XGBRegressor()
model_XGB_18_6.fit(train_X, train_Y)
print('The MAE loss of testing set(XGBoost): {:.4f}'
      .format(mean_absolute_error(test_Y, model_XGB_18_6.predict(test_X))))

The MAE loss of testing set(Linear Regression): 4.5041
The MAE loss of testing set(XGBoost): 5.3641